
* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.Navbar {
  width: 100%;
  height: 90px;
  background-color: #21222A;
  display: flex;
  padding-left: 24px;
  gap: 8px;
  align-items: center;
}

.Navbar img {
  width: 28px;
}

H1 {
  color: #00D8FF;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -0.03rem;
}

.Main {
  background-color: #282D35;
  padding: 48px 24px;
  background-image: url(./images/reactjs-large.svg);
  background-repeat: no-repeat;
  background-position: center right;
}

H2 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -0.03rem;
}

ul {
  padding: 32px;
  list-style: none
}
li {
  color: #FFFFFF;
  font-weight: normal;
  font-size: 16px;
  padding-bottom: 12px;
}

li::before {content: "•"; color: #61DAFB; padding-right: 8px; font-size: x-large;}
